@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tittle
{
  height: 40px;
  width: 360px;
  background-color: rgb(198, 200, 203);
  border: 2px solid black;
  color: black;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
}